COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
config/libtool.m4
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
configure
install-sh
libtool
ltmain.sh
missing
py-compile
py_run_tests
stamp-h1
autom4te.cache
*.sw?
